@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');

body {
 font-family: 'Quicksand', sans-serif !important;


}

.background-indent {
    background-color: #514f4f37;
    width: 100%;
    height: 20vh;
    position:absolute;
    bottom: 0;
    -webkit-clip-path: ellipse(70% 50% at 50% 92%);
    clip-path: ellipse(70% 70% at 50% 92%);
    margin-top: 2rem;
    z-index: -1;
}

.nav-link {
    color: #3b3b3b !important;
    font-weight: 700 !important;
}

.nav-link:focus {
    border: 1px solid #3b3b3b; 
}

.password-table-container {
    max-height: 50vh;
    overflow: scroll;
    z-index: 5;
}

.table-styles {
    border-radius: 5px;
}

.table-styles tbody {
    border-top: 1px solid #ccc !important;    
}

.table-styles > tr, th, td {
    padding: .5rem 1.5rem !important;
    border: none !important;
    vertical-align: center !important;
}

.table-line-styles:hover {
    background-color: #ccc;
}


.table-line-styles--password {
    cursor: pointer;
}
