@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');

body {
 font-family: 'Quicksand', sans-serif !important;
}

.nav-link {
    color: #3b3b3b !important;
    border: 1px solid #ccc !important;
    font-weight: 700 !important;
}

.nav-link:focus {
    border: 1px solid #3b3b3b; 
}

.nav-link.active {
    color: #eee !important;
    background-color: #3b3b3b !important;
}